<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample suite">
    <parameter name="browser" value="chrome"/>
<!--    <parameter name="browser" value="firefox"/>-->
    <parameter name="url" value="https://demoqa.com/"/>
    <test name="TestName">
        <classes>
            <class name="com.zucitech.testscript.BaseClass"/>
            <class name="com.zucitech.testscript.Sortable"/>
            <class name="com.zucitech.testscript.SelectableClass"/>
            <class name="com.zucitech.testscript.ResizableClass"/>
            <class name="com.zucitech.testscript.SliderClass"/>
            <class name="com.zucitech.testscript.DatePickerClass"/>
            <class name="com.zucitech.testscript.KeyboardEvent"/>
        </classes>
    </test>
</suite>

